In [82]:
import numpy as np
import pandas as pd

### Question 1

In [83]:
##What's the version of NumPy that you installed?
np.__version__

'1.20.3'

### Question 2

In [84]:
##What's the version of Pandas that you installed? 
pd.__version__

'1.3.2'

### Question 3

In [85]:
##What's the average price of BMW cars in the below dataset?
cars = pd.read_csv(r"C:\Users\Varadharajan\Desktop\RMIT\ML-Zoomcamp\1. Introduction to Machine Learning\data.csv")
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [86]:
cars.groupby('Make').MSRP.mean().round()

Make
Acura              34888.0
Alfa Romeo         61600.0
Aston Martin      197910.0
Audi               53452.0
BMW                61547.0
Bentley           247169.0
Bugatti          1757224.0
Buick              28207.0
Cadillac           56231.0
Chevrolet          28350.0
Chrysler           26723.0
Dodge              22390.0
FIAT               22670.0
Ferrari           238219.0
Ford               27399.0
GMC                30493.0
Genesis            46617.0
HUMMER             36464.0
Honda              26674.0
Hyundai            24597.0
Infiniti           42394.0
Kia                25310.0
Lamborghini       331567.0
Land Rover         67823.0
Lexus              47549.0
Lincoln            42840.0
Lotus              69188.0
Maserati          114208.0
Maybach           546222.0
Mazda              20039.0
McLaren           239805.0
Mercedes-Benz      71476.0
Mitsubishi         21241.0
Nissan             28583.0
Oldsmobile         11543.0
Plymouth            3123.0
Pontiac            19322.0
Porsche           101622.0
Rolls-Royce       351131.0
Saab               27414.0
Scion              19932.0
Spyker            213323.0
Subaru             24828.0
Suzuki             17907.0
Tesla              85256.0
Toyota             29030.0
Volkswagen         28102.0
Volvo              28541.0
Name: MSRP, dtype: float64

In [87]:
cars[cars['Make'] == "BMW"].describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,334.000000,334.000000,334.000000,334.000000,334.000000,334.000000,334.0,334.000000
mean,2014.347305,326.907186,5.958084,3.161677,29.245509,20.739521,3916.0,61546.763473
std,4.387983,105.681659,1.728939,0.988324,10.257037,13.136879,0.0,27982.682153
min,1995.000000,170.000000,0.000000,2.000000,18.000000,10.000000,3916.0,4697.000000
25%,2015.000000,240.000000,4.000000,2.000000,25.000000,17.000000,3916.0,42300.000000
50%,2016.000000,300.000000,6.000000,4.000000,28.000000,20.000000,3916.0,51850.000000
75%,2016.000000,394.000000,7.500000,4.000000,33.000000,22.000000,3916.0,79725.000000
max,2017.000000,600.000000,12.000000,4.000000,111.000000,137.000000,3916.0,141200.000000

### Question 4

In [88]:
##Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). 
##How many of them have missing values for Engine HP?
cars[cars['Year']>=2015].isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        0
Engine HP              51
Engine Cylinders        8
Transmission Type       0
Driven_Wheels           0
Number of Doors         5
Market Category      1324
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 5

In [89]:
##Calculate the average "Engine HP" in the dataset.
##Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
##Now, calcualte the average of "Engine HP" again.
##Has it changed?

In [90]:
##Average engine HP in the dataset
cars.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [91]:
mean_hp_before = cars['Engine HP'].mean()
mean_hp_before

249.38607007176023

## Question 6

In [ ]:
##Select all the "Rolls-Royce" cars from the dataset.
##Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
##Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
##Get the underlying NumPy array. Let's call it X.
##Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
##Invert XTX.
##What's the sum of all the elements of the result?

In [118]:
cars_Rolls_Royce = cars[cars.Make == 'Rolls-Royce']
cars_Rolls_Royce_new = cars_Rolls_Royce[['Engine HP', 'Engine Cylinders', 'highway MPG']]
cars_RR_no_duplicates = cars_Rolls_Royce_new.drop_duplicates()
X = cars_RR_no_duplicates.values
##multiplying matrix and its transpose
XTX = (X.T).dot(X)
##Inverting XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.03221232067748617

### Question 7

In [119]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]

In [122]:
w = ((XTX_inv).dot(X.T)).dot(y)

In [123]:
w[0]

0.19989598183185908